CMakeFiles/
CMakeSettings.json
CMakeCache.txt
cmake_install.cmake
*.a
*.o
*.slo
*.dylib
*.d
*.doxygen
*.date
Makefile
Makefile.*
Doxyfile
Release/
Debug/
moc/
release/
debug/
obj/
obj_release/
obj_debug/
moc_debug/
.vs/